In [1]:
# question 0

marks = {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}

In [2]:
# question 1
for name, grade in marks.items():
    print(name, "has a grade of", grade)

Andy has a grade of 88
Amy has a grade of 66
James has a grade of 90
Jules has a grade of 55
Arthur has a grade of 77

In [11]:
# question 2

# average
avg = sum(marks.values())/len(marks)
print('The average grade in the class is', avg)

# max
all_grades = marks.values()
max_grade = max(all_grades)
print("The maximum grade in the class is a", max_grade)

# min
min_grade = min(all_grades)
print("The minimum grade in the class is a", min_grade)

The average grade in the class is 75.2
The maximum grade in the class is a 90
The minimum grade in the class is a 55

In [3]:
# question 3

for k, v in marks.items():
    if 'J' in k:
        break
    else: 
        print(k)

Andy
Amy

In [4]:
# question 4

for k, v in marks.items():
    if 'J' in k:
        continue
    else: 
        print(k)

Andy
Amy
Arthur

In [16]:
# question 5

def grade_check(name):
    for k, v in marks.items():
        if k == name:
            print(k, "currently has a grade of", v)
            break
    else: 
        print('This student\'s name could not be found.')

grade_check("Arthur")

Arthur currently has a grade of 77

In [17]:
# question between 5 and 6

def less_than(num):
    for n in range(num):
        print(n)

less_than(5)

0
1
2
3
4

In [1]:
# question 6

def less_than_while(num):
    n = 0
    while n < num:
        print(n)
        #power of n? 
        n += 1
    else: 
        print(n, 'is not greater than', num)

less_than_while(8)

0
1
2
3
4
5
6
7
8 is not greater than 8

In [25]:
# question 7

def find_sum(num):
    n = 0
    sum = 0
    while n <= num:
        sum += n
        n += 1
    else:
        print(sum)
        
find_sum(30)

465

In [30]:
# question 9

def find_sum_for(num):
    n = 1
    sum = 0
    for i in range(num):
        sum += n
        n += 1
        print(sum)

find_sum_for(30)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465

In [39]:
# question 10

def minimal(v1, v2, v3, v4):
    if v1 <= v2 and v1 <= v3 and v1 <= v4:
        print(v1)
    elif v2 <= v1 and v2 <= v3 and v2 <= v4:
        print(v2)
    elif v3 <= v1 and v3 <= v2 and v3 <= v4:
        print(v3)
    elif v4 <= v1 and v4 <= v2 and v4 <= v3:
        print(v4)

minimal(3, 1, 1, 1)

1